.hfui-defiprotocolstable__wrapper {

  .ReactVirtualized__Grid.ReactVirtualized__Table__Grid {
    overflow: hidden !important;
    background-color: #102331;
    width: 70%;
    height: 100%;
  }

  .hfui-table {
    margin: 0 23px 0 30px;
  }
}
