.hfui-chart__wrapper text {
  fill: #ccc; }

.hfui-chart__wrapper .hfui-chart__settings-text-overlay {
  pointer-events: all; }
  .hfui-chart__wrapper .hfui-chart__settings-text-overlay:hover {
    cursor: pointer;
    text-decoration: underline; }

.hfui-chart__wrapper .hfui-select.indicator-select .hfui-select__menu {
  width: 300px; }

.hfui-chart__wrapper .hfui-panel__header-icons .fas.fa-caret-down,
.hfui-chart__wrapper .hfui-panel__header-icons .fas.fa-caret-up {
  line-height: 24px;
  height: 24px;
  width: 24px;
  background: #102331;
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin: 0; }

.hfui-chart-iframe {
  width: 100%;
  height: 100%;
  border: none; }

.hfui-chart__extra-header-components {
  display: flex;
  flex-direction: row;
  line-height: 33px; }
  .hfui-chart__extra-header-components svg {
    color: #6b7b8b !important; }
  .hfui-chart__extra-header-components .hfui-select__single-value {
    color: #54B361 !important; }
  .hfui-chart__extra-header-components .hfui-select__value-container {
    min-width: 100px; }
  .hfui-chart__extra-header-components .hfui-select__outer {
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid #2a2e39; }
