@import '../../colors.scss';

.hfui-input {
  p {
    margin-bottom: 8px;
    font-size: 12px;
  }

  input {
    @include color('input-text');
    @include background('input-bg');
    @include borderColor('input-border');

    width: calc(100% - 16px);
    border-width: 0.5px;
    border-style: solid;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 12px;
    outline: none;
  }
  
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -23px;
  position: relative;
  border: none;

  @include color('input-icon');

  background: none !important;
  z-index: 2;
  outline: none;
  
  span {
    font-size: 13px;
  }
}