.hfui-exchangeinfobar__wrapper {
  z-index: 100;
  height: 60px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 32px; }
  .hfui-exchangeinfobar__wrapper ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 55px; }
  .hfui-exchangeinfobar__wrapper li {
    min-width: fit-content;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 18px; }
    .hfui-exchangeinfobar__wrapper li:first-child {
      margin-right: 10px; }
    .hfui-exchangeinfobar__wrapper li.text .hfui-exchangeinfobar__item-label,
    .hfui-exchangeinfobar__wrapper li.text .hfui-exchangeinfobar__item-data {
      line-height: 20px; }

.hfui-exchangeinfobar__left {
  display: flex;
  flex-direction: row; }

.hfui-exchangeinfobar__right {
  text-align: right;
  height: 75%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .hfui-exchangeinfobar__right i {
    font-size: 20px; }
  .hfui-exchangeinfobar__right i:hover {
    cursor: pointer; }

.hfui-exchangeinfobar__item.vertical {
  display: block;
  padding: 0;
  margin-right: 59px !important; }
  .hfui-exchangeinfobar__item.vertical:last-child {
    margin-right: 0 !important; }
  .hfui-exchangeinfobar__item.vertical .hfui-exchangeinfobar__item-label,
  .hfui-exchangeinfobar__item.vertical .hfui-exchangeinfobar__item-data {
    display: block;
    width: 100%; }
  .hfui-exchangeinfobar__item.vertical .hfui-exchangeinfobar__item-label {
    text-transform: none;
    line-height: 11px;
    height: 11px;
    margin-bottom: 8px;
    margin-right: 0; }
  .hfui-exchangeinfobar__item.vertical .hfui-exchangeinfobar__item-data {
    line-height: 15px;
    height: 15px;
    margin-bottom: 20px; }

.hfui-exchangeinfobar__item-label,
.hfui-exchangeinfobar__item-data {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px; }

.hfui-exchangeinfobar__item-label {
  color: #e2e5e7;
  user-select: none;
  margin-right: 6px;
  text-transform: uppercase; }

.hfui-exchangeinfobar__item-data {
  color: #eee; }
  .hfui-exchangeinfobar__item-data.hover:hover {
    cursor: pointer;
    text-decoration: underline; }
  .hfui-exchangeinfobar__item-data .hfui-select {
    margin-top: -2px;
    min-width: 100px; }
  .hfui-exchangeinfobar__item-data .hfui-select__control {
    padding: 0 4px; }
  .hfui-exchangeinfobar__item-data .hfui-select__single-value {
    color: #16b157 !important; }
