.hfui-button, button {
  background: #102331;
  border: none;
  color: #eee;
  font-size: 12px;
  font-weight: 300; }
  .hfui-button.red, button.red {
    background: #F05359;
    border-color: #F05359; }
  .hfui-button.green, button.green {
    background: #54B361;
    border-color: #54B361; }
  .hfui-button:hover:not(.disabled), button:hover:not(.disabled) {
    color: #fff;
    cursor: pointer;
    opacity: 0.8; }
  .hfui-button.disabled, button.disabled {
    opacity: 0.5; }
  .hfui-button > *, button > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px; }
    .hfui-button > *:last-child, button > *:last-child {
      margin-right: 0; }
