@import '../../colors.scss';

.hfui-button, button {
  @include color('button-text');
  @include background('button-bg');

  border: none;
  font-size: 12px;
  font-weight: 300;

  &.red {
    @include background('button-red-bg');
    @include borderColor('button-red-border');
  }

  &.green {
    @include background('button-green-bg');
    @include borderColor('button-green-border');
  }

  &:hover:not(.disabled) {
    @include color('button-hovered-text');
    cursor: pointer;
    opacity: 0.8;
  }

  &.disabled {
    opacity: 0.5;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}
