.hfui-indicatorsettingsmodal__wrapper {
  padding: 8px; }
  .hfui-indicatorsettingsmodal__wrapper h3 {
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
    margin-bottom: 16px; }
  .hfui-indicatorsettingsmodal__wrapper ul.hfui-indicatorsettingsmodal__args li {
    margin-bottom: 8px; }
    .hfui-indicatorsettingsmodal__wrapper ul.hfui-indicatorsettingsmodal__args li:last-child {
      margin-bottom: 0; }
  .hfui-indicatorsettingsmodal__wrapper ul li {
    font-size: 12px; }
    .hfui-indicatorsettingsmodal__wrapper ul li .hfui-indicatorsettingsmodal__args-label {
      width: 100px;
      text-align: right; }
    .hfui-indicatorsettingsmodal__wrapper ul li .hfui-indicatorsettingsmodal__args-label, .hfui-indicatorsettingsmodal__wrapper ul li .hfui-input {
      margin-right: 8px; }
    .hfui-indicatorsettingsmodal__wrapper ul li .hfui-indicatorsettingsmodal__args-reset {
      color: #54b361; }
      .hfui-indicatorsettingsmodal__wrapper ul li .hfui-indicatorsettingsmodal__args-reset:hover {
        cursor: pointer;
        text-decoration: underline; }
    .hfui-indicatorsettingsmodal__wrapper ul li > * {
      display: inline-block;
      vertical-align: middle; }
  .hfui-indicatorsettingsmodal__wrapper .hfui-indicatorsettingsmodal__actions {
    margin-top: 8px;
    text-align: right; }
    .hfui-indicatorsettingsmodal__wrapper .hfui-indicatorsettingsmodal__actions li {
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle; }
      .hfui-indicatorsettingsmodal__wrapper .hfui-indicatorsettingsmodal__actions li:last-child {
        margin-right: 0; }
      .hfui-indicatorsettingsmodal__wrapper .hfui-indicatorsettingsmodal__actions li i:hover {
        cursor: pointer;
        color: #54b361; }
