@import '../../colors.scss';

.hfui-select__outer {
  display: flex;
  flex-direction: row;

  > p:first-child {
    font-size: 13px;
    line-height: 45px;
    text-transform: uppercase;
  }
}

.hfui-select__control {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  min-height: 20px !important;

  &.hfui-select__control--menu-is-open {
    border: none;
  }
}

.hfui-select__control--is-focused {
  border: none !important;
}

.hfui-select__value-container {
  font-size: 12px !important;
}

.hfui-select__single-value {
  @include color('select-value', !important);
}

.hfui-select__value-container {
  padding: 0 !important;
}

.hfui-select__indicator-separator {
  display: none;
}

.hfui-select__indicator {
  padding: 0 !important;
}

.hfui-select__menu {
  @include background('select-bg', !important);
  @include borderColor('select-border');
  box-shadow: none !important;
  border-width: 1px;
  border-style: solid;
  border-radius: 0 !important;
  border-top: none;
  margin-top: 0 !important;
}

.hfui-select__menu-list {
  padding-top: 0 !important;
}

.hfui-select__option {
  padding: 0 8px !important;
  font-size: 12px !important;
  line-height: 40px;
}

.hfui-select__option--is-selected {
  @include color('select-selected-option', !important);
}

.hfui-select__option--is-focused:not(.hfui-select__option--is-selected) {
  @include color('select-focused-option', !important);
  background: none;

  &:hover {
    cursor: pointer;
  }
}

.hfui-select__input {
  @include color('select-value', !important);
}