.hfui-yieldspage__wrapper {
  height: calc(100% - 130px);
}

.hfui-yieldspage__inner {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.hfui-yieldspage__column {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  &.center {
    width: 100%;
  }
}
