.hfui-orderstable__wrapper {
  color: #666;
  padding: 8px 8px 0 8px;
  overflow: hidden; }
  .hfui-orderstable__wrapper > p:first-child {
    font-size: 12px;
    margin-bottom: 2px; }
  .hfui-orderstable__wrapper .hfui-orderstable__header {
    border-bottom: 1px solid #666;
    padding-bottom: 2px;
    margin-bottom: 2px; }
    .hfui-orderstable__wrapper .hfui-orderstable__header p {
      text-transform: uppercase; }
  .hfui-orderstable__wrapper li {
    display: flex;
    flex-direction: row; }
    .hfui-orderstable__wrapper li p {
      font-size: 12px;
      line-height: 16px;
      width: 100%;
      color: #eee;
      margin-right: 32px; }
      .hfui-orderstable__wrapper li p:last-child {
        text-align: right;
        margin-right: 0; }
    .hfui-orderstable__wrapper li.buy .hfui-orderstable__amount {
      color: green; }
    .hfui-orderstable__wrapper li.sell .hfui-orderstable__amount {
      color: red; }
