.hfui-layoutcontroltoolbar__wrapper {
  padding-left: 31px;
  padding: 11px 0; }
  .hfui-layoutcontroltoolbar__wrapper .hfui-button {
    padding: 8px 13px; }
    .hfui-layoutcontroltoolbar__wrapper .hfui-button button {
      font-size: 13px;
      font-weight: 300; }
    .hfui-layoutcontroltoolbar__wrapper .hfui-button button, .hfui-layoutcontroltoolbar__wrapper .hfui-button i {
      color: #fff; }
  .hfui-layoutcontroltoolbar__wrapper .hfui-dropdown__button-wrapper {
    background: #102331; }
    .hfui-layoutcontroltoolbar__wrapper .hfui-dropdown__button-wrapper .hfui-dropdown__button {
      margin-left: 0;
      padding-left: 14px;
      padding-right: 12px; }
      .hfui-layoutcontroltoolbar__wrapper .hfui-dropdown__button-wrapper .hfui-dropdown__button i {
        margin-left: 11px; }
  .hfui-layoutcontroltoolbar__wrapper > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }
    .hfui-layoutcontroltoolbar__wrapper > *:last-child {
      margin-right: 0; }
